body {
  font-family: sans-serif;
  height: 100vh;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 20px;
}

.btn-group {
  /* background-color: aquamarine; */
  text-align: center;
  padding: 10px;
}

button {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
