body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column; /*สั่งของเรียงจากบนลงล่าง*/
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  /* background-color: aliceblue; */
}

.btn-group {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 8px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: gray;
  color: #fff;
}

button:hover {
  opacity: 0.8;
}

#resetBtn {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}
