body {
  font-family: sans-serif;
  height: 100vh;
  background-color: rgb(34, 34, 34);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #333;
  padding: 3rem;
  border-radius: 20px;
  min-width: 270px;
}

h1 {
  font-size: 80px;
  margin: 20px 0;
  color: #b9b9b9;
}

.btn {
  font-size: 20px;
  font-weight: 550;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  margin: 5px;
  outline: none;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 50, 50);
}

.green {
  background-color: rgb(38, 197, 38);
}

.gray {
  background-color: gray;
}
